.steam, .trophy, .cart{
    color: black;
}

nav{
    position: relative;
    width: 100%;
    z-index: 4;
    height: 17vh;
    gap: 20%;
}

.nav-logo{
   text-align: start;
   width: 250px;
}

.nav-links{
    width: 250px;
}

.nav-right{
    width: 250px;
}

nav h2{
    font-size: 1.5rem;
    line-height: 40px;
}

#logout{
    height: 40px;
    line-height: 20px;
    width: 100px;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    background-color: #15F4EA;
}

/* .nav-component{
    background-color: #449495;
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 1rem 0.3rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.active-nav{
    height: 75px;
    width: 75px;
    background-color: #15F4EA;
    transform: translateY(20px);
} */

.nav-component{
    /* background-color: #449495; */
    background-color: white;
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 1rem 0.3rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.active-nav{
    background-color: #15F4EA;
    transform: translateY(30px);
    height: 75px;
    width: 75px;
}

.toggle-button{
    height: 40px;
    width: 70px;
    border-radius: 9999px;
    background-color: black;
    border: 0.5px solid rgba(134, 134, 134, 0.39);
    position: absolute;
    right: 0;
    transition: all 0.5s;
}

.toggle-circle{
    display: block;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: 7px;
    right: 10px;
    transition: all 0.5s;
}

.toggle-button-light{
    height: 40px;
    width: 70px;
    border-radius: 9999px;
    border: 0.5px solid rgba(134, 134, 134, 0.39);
    position: absolute;
    right: 0;
    background-color: white;
    transition: all 0.5s;
}

.toggle-circle-light{
    display: block;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    position: absolute;
    top: 7px;
    right: 10px;
    transform: translateX(-25px);
    background-color: black;
    transition: all 0.5s;
}