.steam, .trophy, .cart{
    color: black;
}

/* .nav-component{
    background-color: #449495;
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 1rem 0.3rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.active-nav{
    height: 75px;
    width: 75px;
    background-color: #15F4EA;
    transform: translateY(20px);
} */

.nav-component{
    background-color: #449495;
    display: inline-block;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin: 1rem 0.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.active-nav{
    background-color: #15F4EA;
}