

.games-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 70vw;
}

.game{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game img{
    height: 175px;
    width: 200px;
    margin-right: 2rem;
}

.game-card{
    cursor: pointer;
}